*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #273d46;
	background: #e8e8e8 url("./../img/ellipse_1_copy_4.png") 50% 140px no-repeat;
}
.container{
	max-width: 841px;
	margin: 0 auto;
}
.nav p{
	opacity: 0.6;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 168px 0 28px 0;
	text-align: center;
}
.main h1{
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 36px;
	padding-bottom: 77px;
	text-align: center;
}
.main img{
	box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
	background-color: #fff;
	padding: 10px;
}
.main__text{
	padding-top: 97px;
	padding-bottom: 64px;
	max-width: 738px;
	margin: 0 auto;
}
.main__text1{
	padding-bottom: 50px;
}
.main p{
	opacity: 0.8;
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 24px;
}
.footer{
	max-width: 738px;
	margin: 0 auto;
	padding-bottom: 140px;
}
.list{
	padding-bottom: 46px;
}
.list li{
	font-size: 20px;
	padding-left: 35px;
	margin-bottom: 10px;
}
.list li:nth-child(1){
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.list li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
}
.list li:nth-child(4){
	text-decoration: line-through;
}
li span{
	opacity: 0.3;
}
li{
	background: url("./../img/check_icon_37.png") left no-repeat;
}
.footer a{
	height: 44px;
	display: inline-block;
	line-height: 44px;
	padding: 0 30px;
	border-radius: 24px;
	background-color: #80b7b3;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}
span{
	padding-right: 32px;
	background: url("./../img/shape_2_9.png") right no-repeat;
}
	
